* {
    margin: 0;
    padding: 0;
    font-size: 1.0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* for small screen */

/* breadcrumb */

.breadcrumb {
    background: lightgreen;
    padding: 16px 0;
}

/* breadcrumb-btn */

.breadcrumb-btn {
    display: none;
}

.breadcrumb-btn:checked ~ .logo-and-label > .label-group > .label-breadcrumb-btn {
    transform: rotate(180deg);
    transition: 0.9s;
}

.breadcrumb-btn:checked ~ .logo-and-label > .label-group > .label-breadcrumb-btn > .closed,
.breadcrumb-btn:checked ~ .logo-and-label > .label-group > .label-breadcrumb-btn > .closed::before,
.breadcrumb-btn:checked ~ .logo-and-label > .label-group > .label-breadcrumb-btn > .closed::after {
    background-color: transparent;
    transition: 0.9s;
}

.breadcrumb-btn:checked ~ .logo-and-label > .label-group > .label-breadcrumb-btn > .opened::before,
.breadcrumb-btn:checked ~ .logo-and-label > .label-group > .label-breadcrumb-btn > .opened::after {
    background-color: white;
}

.breadcrumb-btn:checked ~ .logo-and-label ~ .breadcrumb-menu {
    display: block;
}

/* search-btn */

.search-btn {
    display: none;
}

.search-btn:checked ~ .logo-and-label > .label-group > .label-search-btn {
    transform: rotate(360deg);
    background-color: white;
    color: black;
}

.search-btn:checked ~ .logo-and-label ~ .search {
    display: flex;
}

/* logo-and-label */

.logo-and-label {
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
}

/* logo */

.logo {
    font-weight: bold;
    color: hsla(23, 50%, 45%, 0.9);
}

.logo:hover {
    transform: rotate(360deg);
    transition: 0.9s;
}

/* label-group */

.label-group {
    display: flex;
}

/* label-search-btn */

.label-search-btn {
    background-color: blue;
    color: white;
    height: 20px;
    width: 15px;
    margin: -3px 0 0 0;
    text-align: center;
    border: 0 solid;
    border-radius: 5px;
    transition: 0.9s;
}

/* label-breadcrumb-btn */

.label-breadcrumb-btn {
    display: flex;
    padding: 11px;
    margin: -16px 0 0 0;
    transition: 0.9s;
}

/* breadcrumb-icon */

.breadcrumb-icon {
    display: block;
    width: 21px;
    height: 2px;
    background-color: blue;
    margin: 11px;
}

/* closed */

.closed {
    width: 25px;
    position: relative;
}

.closed::before,
.closed::after {
    content: "";
    display: block;
    width: 84%;
    height: 100%;
    background-color: blue;
    position: absolute;
    margin: 0 0 0 2px;
}

.closed::before {
    top: -5px;
}

.closed::after {
    top: 5px;
}

/* opened */

.opened {
    display: block;
    background-color: transparent;
    position: absolute;
}

.opened::before,
.opened::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 3px;
    position: absolute;
    transition: 0.9s;
}

.opened::before {
    transform: rotate(45deg) translate(3px, 4px);
    top: -5px;
}

.opened::after {
    transform: rotate(-45deg) translate(3px, -4px);
    top: 5px;
}

/* search */

.search {
    display: none;
    padding: 16px;
    justify-content: center;
}

/* .search-text */

.search-text {
    border: 0 solid;
    border-radius: 12px;
    font-size: smaller;
    margin: 0 0 0 16px;
    padding: 0 0 0 16px;
    transition: 0.9s;
}

/* breadcrumb-menu */

.breadcrumb-menu {
    list-style: none;
    display: none;
/*    text-align: right; */
}

/* breadcrumb-link */

.breadcrumb-link {
    display: block;
    padding: 18px 16px;
    text-decoration: none;  
}

.breadcrumb-link:hover {
    text-decoration: 2px underline overline white;
    transition: 0.9s;
}
/* label-group-1 */

.label-group-1 {
    display: none;
    margin: 0 16px 0 0;
}

/* for big screen */

@media screen and (min-width:1024px) {

    /* breadcrumb */

    .breadcrumb {
        display: flex;
        justify-content: space-between;
    }

    /* breadcrumb-btn */

    .breadcrumb-btn:checked ~ .logo-and-label ~ .breadcrumb-menu {
        display: flex;
    }

    /* label-group */

    .label-group {
        position: absolute;
        left: 90%;
    }

    /* search */

    .search {
        position: absolute;
        left: 30%;
        top: 0; 
    }

    /* breadcrumb-menu */

    .breadcrumb-menu {
        position: absolute;
        left: 55%;
        top: 0;
    }

    /* breadcrumb-link */

    .breadcrumb-link {
        display: block;
        padding: 16px 16px 0;
        text-decoration: none;  
    }

}